@{
    ViewBag.Title = "Overview";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="ui grid">
    <div class="row">
        <h1 class="ui huge header">
            OverView
        </h1>
    </div>
    <select class="ui dropdown">
        <option value="">Gender</option>
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select>

</div>
